@model KurumsalWeb.Models.Entity.Iletisim
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="margin-bottom:30px;" align="center">İletişim Güncelle</h1>
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

@using (Html.BeginForm("Guncelle", "Iletisim", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Adres</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Telefon</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Fax</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Fax, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Whatsapp</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Whatsapp, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Facebook</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Facebook, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Twitter</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Twitter, new { @class = "form-control" })
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Instagram</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Instagram, new { @class = "form-control" })
        </div>
    </div>

    <button type="submit"  class="btn btn-success guncelle">Güncelle</button>
}


