@model KurumsalWeb.Models.Entity.Blog
@{
    ViewBag.Title = "BlogEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 style="margin-bottom:20px;" align="center">Blog Güncelle</h1>
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>
@using (Html.BeginForm("BlogEdit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!-- General Form Elements -->

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Başlık</label>
        <div class="col-sm-10">
            <input type="text" name="Baslik"  value="@Model.Baslik" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">Kategori</label>
        <div class="col-sm-10">
            @Html.DropDownList("KategoriID", null, new { @class = "form-control" })
        </div>
    </div>
  
    <div class="row mb-3">
        <label for="inputText" class="col-sm-2 col-form-label">İçerik</label>
        <div class="col-sm-10">
            <textarea name="Icerik" class="ckeditor">@Model.Icerik</textarea>
        </div>
    </div>



    <div class="row mb-3">
        <label for="inputNumber" class="col-sm-2 col-form-label">Önceki Resim</label>
        <div class="col-sm-10">
            @if (Model.ResimUrl == null)
            {
                <img style="width:250px;height:150px;" src="https://haber.webdeogren.com/wp-content/uploads/2020/01/resim-yok.png" />
            }
            <img style="width:250px;height:150px;" src="@Model.ResimUrl" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputNumber" class="col-sm-2 col-form-label">Resim</label>
        <div class="col-sm-10">
            <input class="form-control" type="file" name="ResimUrl" accept=".png,.jpg,.jpeg" id="formFile">
        </div>
    </div>

    <button style="margin-top:25px; width:100px;" type="submit" class="btn btn-success ">Ekle</button>
}






